<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.luoqiz.code.test.mapper.QrtzCalendarsMapper">
    <resultMap id="BaseResultMap" type="com.luoqiz.code.test.entity.QrtzCalendarsEntity">
		<id column="SCHED_NAME" jdbcType="VARCHAR" property="schedName" />
		<id column="CALENDAR_NAME" jdbcType="VARCHAR" property="calendarName" />
      	<result column="CALENDAR" jdbcType="BLOB" property="calendar" />
    </resultMap>
    
</mapper>